In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('orders.csv', sep = ',')

In [5]:
df.tail(10)

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
96108,2019-06-21,54751,37343,24,Пицца,6.0,0.0
96109,2019-07-05,44359,31162,26,Бургеры,79.0,0.0
96110,2019-09-22,42858,26442,23,Пицца,3.0,0.0
96111,2019-07-17,40059,7501,23,Суши,16.0,1.0
96112,2019-06-23,43803,30918,26,Русская,3.0,0.0
96113,2019-08-18,44315,31154,24,Суши,2.0,0.0
96114,2019-06-15,17528,11182,25,Пицца,11.0,1.0
96115,2019-08-19,45351,31679,23,Вьетнамская,1.0,0.0
96116,2019-09-26,64209,42525,25,Суши,7.0,0.0
96117,2019-09-06,34676,25567,26,Итальянская,1.0,0.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96118 entries, 0 to 96117
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               96118 non-null  object
 1   vendor_id          96118 non-null  int64
 2   chain_id           96118 non-null  int64
 3   city_id            96118 non-null  int64
 4   spec               95733 non-null  object
 5   successful_orders  96118 non-null  float64
 6   fail_orders        96118 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 5.1+ MB

In [18]:
df.shape[0] * df.shape[1]

672826

In [46]:
df['city_id'].astype('category').describe()

count     96118
unique        4
top          23
freq      32995
Name: city_id, dtype: int64

In [24]:
df['successful_orders'].mean()

8.877400694979087

In [67]:
df['spec'] = df['spec'].astype('category')
df.groupby('spec').get_group('Рыба').shape[0]

1103

In [49]:
df[(df['vendor_id'] == 40065) & (df['successful_orders'] < 20)].value_counts().shape[0]

45

In [45]:
(df['successful_orders'] + df['fail_orders']).mean()

9.294242493601615

In [60]:
df.sort_values(by=['successful_orders']).iloc[0]['city_id']

23

In [68]:
groups = df.groupby(['spec']).sum()
(groups['fail_orders'] / (groups['successful_orders'] + groups['fail_orders'])).sort_values() # nlargest(1, '')

spec
Гирос                  0.024540
Вьетнамская            0.026832
Супы                   0.028273
Суши                   0.028781
Рыба                   0.028856
Китайская              0.029337
Обеды                  0.032000
Грузинская             0.035263
Корейская              0.036082
Итальянская            0.037000
Пицца                  0.039258
Пироги                 0.042445
Фастфуд                0.045479
Сэндвичи               0.046156
Мясо                   0.049308
Бургеры                0.049711
Паназиатская           0.054592
Русская                0.056282
Десерты                0.057245
Японская               0.063127
Шашлыки                0.066714
Паста и ризотто        0.068075
Индийская              0.069042
Узбекская              0.075888
Хумус                  0.076923
Шаурма                 0.085037
Выпечка                0.085776
Кофе и чай             0.091603
Здоровая еда           0.117934
Мексиканская           0.125984
Хот-доги               0.140741
Завтраки               0.155477
Хинкали                0.166667
Халяль                 0.217391
Вегетарианское меню    0.827586
dtype: float64

In [110]:
#df.groupby('spec')
srt = df.sort_values(by=['date'])
srt = (df[(srt['date'] >= '2019-07-01') & (srt['date'] <= '2019-08-31')])[['chain_id', 'successful_orders', 'date']]
grpd = srt.groupby('chain_id')
lst = []
for gr in grpd.groups:
    grp = grpd.get_group(gr)
    a = int(grp['successful_orders'][grp['date'] >= '2019-08-01'].sum())
    b = int(grp['successful_orders'][grp['date'] < '2019-08-01'].sum())
    lst.append([a - b, str(grp['chain_id'])])

max(lst)

    
    
#srt[srt['date'] < '2019-08-01']['successful_orders'].sum()
#srt[srt['date'] >= '2019-08-01']['successful_orders'].sum()

<ipython-input-110-20fd80bfd50b>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  srt = (df[(srt['date'] >= '2019-07-01') & (srt['date'] <= '2019-08-31')])[['chain_id', 'successful_orders', 'date']]

[1394,
 '78       29925\n83       29925\n85       29925\n232      29925\n322      29925\n         ...  \n95242    29925\n95462    29925\n95508    29925\n95768    29925\n95859    29925\nName: chain_id, Length: 601, dtype: int64']